.text-settings-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    & > li {
        display: flex;
        align-items: center;
        height: 30px;

        .text-setting-block {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 100%;
        }

        .text-setting-button {
            @include ui-button(30px, 30px);
            color: $grey_6;
            font-size: 18px;
            &.active {
                cursor: default;
                * {
                    cursor: default;
                }
            }
        }
        .text-setting-buttons-group {
            display: flex;
            gap: 2px;
        }
        select {
            text-overflow: ellipsis;
            width: 100px;
        }
        input[type="number"] {
            width: 50px;
            height: 30px;
            padding: 5px 0 5px 5px;
        }
        input[type="color"] {
            width: 30px;
            height: 30px;
            padding: 5px;
            border: 1px solid $grey_0;
            background-color: $grey_1;
        }

        .text-align-symbol {
            display: flex;
            flex-direction: column;
            gap: 3px;
            &.symbol-left {
                align-items: flex-start;
            }
            &.symbol-right {
                align-items: flex-end;
            }
            &.symbol-center {
                align-items: center;
            }
        }
    }
}
