#choose-existing-image-input {
	display: flex;

	ul {
		display: grid;
		grid-template-columns: repeat(3, 150px);
		grid-auto-rows: 120px;
		height: 400px;
		overflow-y: auto;
		gap: 15px;
		margin: 0;
		padding: 0;
		width: 500px;
		position: relative;

		li {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			background-color: #0005;
			cursor: pointer;

			img {
				height: 100%;
			}
		}
	}
}