// Your variables and mixins...
$grey_0: rgb(30, 30, 30);
$grey_1: rgb(51, 51, 51);
$grey_2: rgb(65, 64, 64);
$grey_3: rgb(95, 95, 95);
$grey_4: rgb(120, 120, 120);
$grey_5: rgb(175, 175, 175);
$grey_6: rgb(220, 220, 220);
$green: rgb(40, 199, 61);
$light_green: lighten($green, 15%);
$red: rgb(223, 65, 3);
$yellow: rgb(245, 211, 19);
$magenta: rgb(180, 0, 224);
$blue: rgb(13, 141, 221);

$orange: rgb(241, 137, 0);

//font sizes
$h1_size: 32px;
$h2_size: 20px;
$h3_size: 16px;
$h4_size: 14px;

$text_s: 12px;
$text_xs: 9px;
$text_m: 16px;
$text_l: 20px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ui-button($width, $height) {
    display: block;
    width: $width;
    height: $height;
    background-color: $grey_3;
    cursor: pointer;
    & > * {
        cursor: pointer;
    }
    border: 1px solid $grey_4;
    border-radius: 3px;
    &:hover {
        background-color: $grey_1;
        border-top-color: $grey_5;
        border-left-color: $grey_3;
        border-bottom-color: $grey_0;
        border-right-color: $grey_4;
    }
    &:active,
    &.active {
        border: 1px solid;
        background-color: $grey_1;
        border-top-color: $grey_0;
        border-left-color: $grey_4;
        border-bottom-color: $grey_5;
        border-right-color: $grey_3;
    }

    &:hover,
    &:active,
    &.active {
        .svg-icon {
            fill: $grey_6;
        }
    }
}

@mixin ui-select {
    border: 1px solid transparent;
    padding: 5px;
    background-color: $grey_3;
    color: $grey_6;
    cursor: pointer;
    &:hover:not([multiple]) {
        background-color: $grey_2;
        border: 1px solid $grey_1;
    }
    .empty-select-placeholder {
        color: $orange;
    }
}
